body {
    background-color: firebrick;
}
h2 {
    color:rgb(110,50,130);
    color:rgba(50,100,150,0.5);
    text-align: center;
    font-size: 55px;
    font-family: Verdana, serif;
}
h1 {
    color:yellow;
    font-size: 70px;
    font-family: Arial, sans-serif;
}
h3, h4, h5, h6, h7 {
                    text-decoration:underline;
                    color:#E4BB97;
}
p {
    color:midnightblue;
    font-size: 40px;
    font-family: Roboto, sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
    line-height:1.5em;
    font-weight:bold;
}
p {
    color:midnightblue;
    font-size: 40px;
    font-family: Roboto, sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Roboto');
    line-height:1.5em;
    font-weight:normal;
}
ol {
    color:navajowhite;
    font-size: 35px;
    font-family:Courier, serif;
    line-height:2em;
    list-style-type:upper-alpha;
    font-weight:bold;
    font-weight:900;
}
ul {
    color:navajowhite;
    font-size: 35px;
    font-family:Courier, serif;
    line-height:2em;
    list-style-type: square;
}

