.aboutme.html {
    text-align: center;
}

a {
    text-decoration: none;
   
}

.border{
    border:1px solid black;
    font-family:Courier;
}
body {
    background-image: url(http://www.solidbackgrounds.com/images/2560x1440/2560x1440-up-maroon-solid-color-background.jpg);
} 
.nav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 30px;
    background-color:white;
    width:100%;
    background-image: url(http://www.wampstore.com/store/image/cache/data/Wamp/Products/Vallejo/khaki-900x900.jpg);
    background-position: center;}
p {
    font-weight:bold;
    font-size:25px;
}
img {
    border-radius:80%;
    margin:auto;
    display:block;
}

img.table{
    border:none;
    border-radius:0;
}
