canvas{
    position: absolute;
    padding: 0;
    margin: auto;
    width: 800px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .q1, .q2, .q3, .q1-choice, .q2-choice, .q3-choice{
    display:none;
}
body {
    background-color:#B22222;
}
.q1, .q2, .q3, h1, h3, h5 {
    color:#F0E68C;
}
